<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDEDidComputeMac32BitWarning</key>
	<true/>
</dict>
</plist>
Complete-iOS-12-Development-Guide/Chapter06/completed/LetsEat/LetsEat.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
